@charset "UTF-8";
/* 1.1 这种注释会被编译保留*/
#partner .container {
  text-align: center;
}

#partner .container > h3 {
  font-size: 24px;
}

#partner .container > ul {
  list-style: none;
}

#partner .container > ul > li {
  float: left;
  width: calc(100%/9);
  border-left: 1px dashed #ccc;
}

#partner .container > ul > li:first-of-type {
  border-left: 0;
}

#partner .container > ul > li > a {
  color: #ccc;
  text-decoration: none;
}

#partner .container > ul > li > a > i::before {
  font-size: 50px;
}

#partner .container > ul > li > a:hover {
  color: #e92322;
}
